.email-page-comtainer {
    display: flex;
}

.nav-side {
    background-color: lightsalmon;
    width: 20%;
    height: 700px;
    /* position: absolute; */
}

.emailApp-contaider {
    background-color: lemonchiffon;
    width: 80%;
}

button {
    height: 30px;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(200, 196, 196);
    min-width: 30px;
}

button:hover {
cursor: pointer;
}

.emailDetails-container {
    height: 600px;
    padding: 30px;
    border: 1px solid grey;
    width: 80%;
}

.emailDetails-container h2 {
    font-size: 2rem;
}

.emailFrom {
    display: flex;
    justify-content: space-between
    
}
.emailDetails-container h3 {
   width: 150px;
   font-size: 1.4rem;


}
.emailDetails-container h3:last-child {
    text-align: right;
 }
.emailDetails-container p {
    height: 300px;
    border: 1px solid gray;
    padding: 10px;
 
}
.email-list{
    display:flex;
    flex-direction: column;
}

.single-email{
    display: flex;
    width: 800px;
    justify-content: space-around;
    border: 1px solid black; 
}
a{
    text-decoration: none;
}

.email-open-container{
 display: flex;
}
.email-filter-container{
    height: 70px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center
}

