.email-page-comtainer {
    display: flex;
}

.nav-side {
    padding-left:20px;
    font-size: 0.8rem;
color: white;
    background-color: rgb(119,136,153);
    min-width: 200px;
    height: 700px;
    max-width: 200px;
}
    /* position: absolute; */



 
.status-container{
    text-align: center
}

.compose-container{
    text-align: center;
    margin: 10px;
    
}
.compose-container button{
    height: 50px;
    width: 100px;
    border-radius: 30px
}


.emailApp-container {
    /* height: 600px; */
    /* padding: 30px; */
    /* border: 1px solid #5b5388; */
    width:100%;
}
.emailDetails-container {
    /* height: 600px; */
    padding: 30px;
    /* border: 1px solid #5b5388; */
    width: 100%;
}

button {
    height: 30px;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(218, 214, 214); 
    min-width: 30px;
    color: rgb(115, 126, 119);
    padding: 5px;

}
button.trash{
color: gray
}

button.star{
    color: yellow;
}

button.envelope{
    color: red;
}
button:hover {
cursor: pointer;
}


.emailDetails-container h2 {
    font-size: 2rem;
}

.emailFrom {
    display: flex;
    justify-content: space-between
    
}
.emailDetails-container h3 {
   width: 150px;
   font-size: 1.4rem;


}
.emailDetails-container h3:last-child {
    text-align: right;
 }
.emailDetails-container p {
    height: 300px;
    border: 1px solid gray;
    padding: 10px;
 
}
.email-list{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-inline-start: 84px;

}

.single-email{
    display: flex;
    /* width: 90%; */
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(218, 214, 214); 
    border-radius: 10px;
    padding: 10px;
    height: 20px;
    color: black;
}

.single-email>h4{
    width: 100px;
    text-align: left;
    
}
.single-email>h4:last-child{
    
    text-align: right;
    
}
.single-email>p{
    width: 450px;
    text-align: left;
    
}

.single-email>p>span{
    color: gray;
    
}



a{
    text-decoration: none;
}

.email-open-container{
 display: flex;
}
.email-filter-container{
    height: 70px;
    background-color:rgb(119,136,153);
    display: flex;
    align-items: center;
    justify-content: center
}
.email-filter-container select,input,button {
 height: 30px;
 border: 1px solid rgb(218, 214, 214); 
 margin:5px;
 border-radius: 4px;
}
.email-filter-container input{
    width: 300px;
}





.modal{
    display:flex;
    flex-direction:column;
    background-color: white;
    color:white;
    width:600px;
    height: 350px;
    position: absolute;
    right:0px;
    border:1px solid black;
    bottom: 250px;
    /* visibility: hidden; */
   

}

.modal-nav{
    background-color: black;
    text-align: center;
    height: 45px;
    width: 100%;
   position: inherit;
   

}
.to-from{
    background-color: white;
    width:100%;
    height:30px;
    color:black;
    text-align: left;
    border: 1px solid lightgray;
    position: relative;
    top: 20px;
}
.to-from input{
    width:89%;
    height: 95%;
    border: none;
}

.to-from span{
   
    margin-right:8px; 
}
.txtarea{
    position: relative;
    width: 99%;
    top: 20px;
    border: none;
    height: 240px;
}
.sent-btn{
    left: 5px;
    bottom: 5px;
    height: 30px;
    position: absolute;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(200, 196, 196);
    min-width: 88px;
    
}
.close-btn{
    bottom: 5px;
    height: 30px;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(200, 196, 196);
    min-width: 88px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.read{

    color:red;
}
.unread{
    color:yellowgreen;
}

.menu-btn {
    display: none;
}
.nav-side-in-mobile{
    display: none;
}
.btn-filter-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.email-preview-container{
    display: flex;
    align-items: center;
}

@media (max-width:740px) {
    .emailDetails-container{
        width: 100%
    }
    .emailApp-container {
        width: 100%
    }
    .nav-side{
            position: fixed;
            left: -200px;
            top: 140px;
            /* transform: translate(100%, 0); */
            /* transition: transform .6s; */
            z-index: 10;
        
      }
      .nav-side-in-mobile{
        display: block;
            background-color: lightsalmon;
            min-width: 200px;
            height: 700px;
            max-width: 200px;
            position: absolute;
            top: 138px;
            left: 0;
            margin-left: 8px;
      }

    
    .menu-btn {
        display: block;
        margin-right: 10px;
        z-index: 10;
    }

}
meter{
    width: 120px;
    height: 30px;
    margin-bottom: 35px;
}