
.email-page-comtainer{
    display: flex;
}

.nav-side{
    background-color: lightsalmon;
    width: 20%;
    height: 700px;
    /* position: absolute; */
}
.emailApp-contaider{
    background-color: lemonchiffon;
    width:80%;
}
.email-list{
    display:flex;
    flex-direction: column;
}

.single-email{
    display: flex;
    width: 800px;
    justify-content: space-around;
    border: 1px solid black; 
}
a{
    text-decoration: none;
}

