/* @font-face {
	font-family: lobster;
	src: url(../fonts/lobster/Lobster-Regular.ttf); */

header {
    height: 90px;
    background-color: rgb(42, 50, 58);
    text-align: center;
    color: white;
}

.headers {
    visibility: hidden;
    background-color: aliceblue;
}

header nav {
    padding-top: 20px;
}

ul.ham-btn {
    list-style-type: none;
    /* background-color: red;
   width: 150px;
   height: 150px;
   position: absolute;
   right: 100px;  */
}

.option {
    background-color: rgb(255, 251, 251);
    border: 1px solid black;
    border-radius: 10px;
    /* opacity: 0.3; */
    width: 140px;
    height: 120px;
    position: absolute;
    right: 100px;
    font-size: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
} 

.grid {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 25px;
}
.grid:hover{
    cursor: pointer;
}
a.em {
    /* position: absolute;
   top: 4px;
   left: 100px; */
    color: black;
    /* width:40px; */
    background-color: aliceblue;
}

a.ho {

    /* position: absolute;
   top: 20px;
   left: 100px; */
    color: black;
    background-color: aliceblue;

}

a.no {
    
    /* position: absolute;
   top: 36px;
   left: 100px; */
   color: black;
   background-color: aliceblue;
   
}
       .home-container{
       
       }

.home {
    /* background-image: url('../img/background.jpg'); */
    background-color: white;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
   

}

.note{
    height: 300px;
    width: 300px;
    background-image: url('../img/note.jpg');
    background-repeat: no-repeat;
}
.note:hover{
    cursor: pointer;
}
.email:hover{
    cursor: pointer;
}
.book:hover{
    cursor: pointer;
}

.email{
    height: 300px;
    width: 300px;
    background-image: url('../img/email.jpg');
    background-repeat: no-repeat;
}
.book{
    height: 300px;
    width: 300px;
    background-image: url('../img/book.jpg');
    background-repeat: no-repeat;
}
.home h1{
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    color: rgb(26, 19, 19)

}

.home i{
    font-size: 250px;
    display: none;
}
.grassus{
    display: flex;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 0px;
    left: 25px;
    color: white;
}
.grassus h1{
    width: 100%;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}