
/* @font-face {
	font-family: lobster;
	src: url(../fonts/lobster/Lobster-Regular.ttf); */

header{
    height: 60px;
    background-color: rgb(42, 50, 58);
    text-align: center;
    color: white;
}
.headers{ 
    visibility: hidden; 
    background-color: aliceblue;
 }
 
header nav{
    padding-top: 20px;
}
ul.ham-btn{
    /* background-color: beige; */
    position: absolute;
   top: 0px;
   list-style-type: none;
  
}

a.em{
   position: absolute;
   top: 4px;
   left: 100px;
   color:black;
   /* width:40px; */
   background-color: aliceblue;
}
a.ho{
 
   position: absolute;
   top: 20px;
   left: 100px;
   color:black;
   background-color: aliceblue;

}
a.no{
  
   position: absolute;
   top: 36px;
   left: 100px;
   color:black;
   background-color: aliceblue;

}
.home {
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: lobster;
    text-align:center;
    font-size: 2.5rem;
    /* font-family: lobster; */
    
   
}
/* section.home{
.option{
    /* background-color: aliceblue; */


/* body home{
    font-family: lobster;
} */

