
.txt-note{
    height:300px;
    width:300px;
    background-color: yellow;

}
.todos-container{
    background-color: red;
    height: 300px;
    width: 300px;
    margin: 15px;
}

.isDone{
    text-decoration: line-through;
}
.todo-container{
    display: flex;


}
.img-container{
    background-color: rgb(79, 45, 216);
    height: 300px;
    width: 300px;
    margin: 15px;

}
.notes-container{
    display: flex;
    flex-wrap: wrap;

}

.img-note{
    width: 100%;
}