<<<<<<< HEAD
.txt-note{
    height:200px;
    width:200px;
    background-color: yellow;

=======
.todos-container{
    background-color: red;
    height: 300px;
    width: 300px;
    margin: 15px;
}

.isDone{
    text-decoration: line-through;
}
.todo-container{
    display: flex;
<<<<<<< HEAD

}
.img-container{
    background-color: rgb(79, 45, 216);
    height: 300px;
    width: 300px;
    margin: 15px;

}
.notes-container{
    display: flex;
    flex-wrap: wrap;
=======
>>>>>>> 9d6ad8ab56de3a5ff0086c5996bb6e88d0ab828b
>>>>>>> 18186d9193958828008044cb74f795388ee315c2
}